
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form [formGroup]="registerForm" class="form" >
			<h1>Create Account</h1>
			<mat-form-field appearance="outline" color="primary">
				<mat-label>FirstName</mat-label>
					<input class="inputs" matInput placeholder="First Name" required formControlName="firstName" [errorStateMatcher]="matcher" />
			   </mat-form-field>

				<mat-form-field appearance="outline"  color="primary" >
					<mat-label>LastName</mat-label>
					<input class="inputs" matInput required placeholder="Last Name" formControlName="lastName" />
					
				</mat-form-field>

				<mat-form-field appearance="outline" color="primary">
					<mat-label>Email</mat-label>
					<input class="inputs" matInput placeholder="Email" required formControlName="email" />					
				</mat-form-field>		
	
				<mat-form-field appearance="outline"  color="primary" >
					<mat-label>Password</mat-label>
					<input matInput class="inputs" required  minlength="8" maxlength="20"placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
					<button class="ochi" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>

				<mat-form-field appearance="outline"  color="primary" >
					<mat-label>Confirm Password</mat-label>
					<input matInput class="inputs" required placeholder="ConfirmPassword" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
					<button class="ochi" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
				<button (click)="register()">Sign Up</button>
            <span>or</span>
            <div class="social-container">
				<a (click)="signUpWithFB()" class="social"> <img class="fb" src='assets\images\fb_icon.png'/></a>
			</div>
			</form>

			
		
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome !</h1>
				<p class="textRight">Do you already have an account? Log in here !</p>
				<button (click)="goLogin()" class="ghost" id="signIn">Sign In</button>
					<div class="info">*Fields marked with * are required. <br> *The password must be at least 8 characters and contain at least an uppercase, a lowercase, a digit, and a special character</div>				
			</div>
		</div>
	</div>
</div>

