#warning{
    text-align: center;
}

button{
    width: 80px;
    font-size: 20px;
    background: rgb(234, 230, 230);
}

.mat-select-trigger {
    cursor: pointer;
  }


  .titles{
    font-size: 18px;
}

button{
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    background: rgb(234, 230, 230);
}